main {
    background-image: url(./img/george-bohunicky-qJKT2rMU0VU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: 20% 0;
    background-size: cover;
    min-height: 70vh;
}